[submodule "Packages/EncodingHelper"]
	path = Packages/EncodingHelper
	url = https://github.com/SublimeText/EncodingHelper.git
[submodule "Packages/EditorConfig"]
	path = Packages/EditorConfig
	url = https://github.com/sindresorhus/editorconfig-sublime.git
[submodule "Packages/SublimeLinter"]
	path = Packages/SublimeLinter
	url = https://github.com/SublimeLinter/SublimeLinter.git
[submodule "Packages/SideBarEnchancements"]
	path = Packages/SideBarEnchancements
	url = https://github.com/titoBouzout/SideBarEnhancements.git
[submodule "Packages/Package Control"]
	path = Packages/Package Control
	url = https://github.com/wbond/sublime_package_control.git
[submodule "Packages/BracketHighlighter"]
	path = Packages/BracketHighlighter
	url = https://github.com/facelessuser/BracketHighlighter.git
[submodule "Packages/Birds-of-Paradse"]
	path = Packages/Birds-of-Paradse
	url = https://github.com/jbergantine/Birds-of-Paradise-for-TextMate.git
